body{
	/*background-image: url("../img/pattern.jpg");*/
	background-color: #FFAA01;
}

nav > div, footer,#login-box,#register-box{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 120%;
	font-weight: bold;
}

input{
	font-family: sans-serif;
}

select{
	font-family: arial;
}

.img-rounded{
	width: 100%;
}

/*color de la ventana modal*/
.modal-header,.modal-body,.modal-footer{
	background-color: #494949;
	color: white;
}

/*color del boton de cierre de la ventana modal*/
.close{
	color: white;
}

footer{
	position: fixed;
	float: bottom;
	bottom: 0px;
	width:100%;
	background-color: #101010;
	color: white;
	padding: 15px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 80%;
	margin: auto;
}

/*.row.content {height: 500px}

.sidenav {
	padding-top: 20px;
	background-color: #E5A709;
	height: 100%;
	border:1px solid black;
}

@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {height:auto;} 
}*/

.Aclonica{
	font-family: "Aclonica";
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*#centro{
	margin-right: 15px;
	margin-left:  15px;
}*/

.precio{
	/*text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;	 */
	/*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
	color: #910202;
}

fieldset.scheduler-border {
	border: 3px groove #ddd !important;
	padding: 0 1.4em 1.4em 1.4em !important;
	margin: 0 0 1.5em 0 !important;
	-webkit-box-shadow:  0px 0px 0px 0px #000;
	box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
	width:inherit; /* Or auto */
	padding:0 10px; /* To give a bit of padding on the left and right */
	border-bottom:none;	
	font-size: 1.2em !important;
	font-weight: bold !important;
	text-align: left !important;
	/*color:#2C76FF;*/
	/*color:white;*/
	color: #5C95FF;
/*	text-shadow: -1px 0 #00215D, 0 1px #00215D, 1px 0 #00215D, 0 -1px #00215D;	 
*/
}

.sinBorde{
	border:none;
}

.invisible{
	background-color: transparent;
	border-color: transparent;
}

.mensajeVacio{
	font-family: Arial;
	font-weight: bold;
	color: #C63737;
}
